<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VRPquest"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:windowSoftInputMode="adjustNothing"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true">
            <layout android:defaultWidth="706dp" android:defaultHeight="442dp" android:gravity="top|end" />
            <meta-data android:name="com.oculus.vrshell.supports_free_resizing" android:value="true"/>
            <meta-data android:name="com.oculus.vrshell.free_resizing_limits" android:value="300,2000,50000,10000"/>
            <meta-data android:name="com.oculus.vrshell.supports_multi_instance" android:value="true" />
            <meta-data android:name="com.oculus.vrshell.supports_multi_cursor" android:value="true" />
            <meta-data android:name="com.oculus.lazy_gpumem_allocation" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>